* {
    margin: 0;
    padding: 0;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#grid-container {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    display: grid;
    margin: 10px;
}

.cell {
    border: .5px solid black;
    background-color: grey;
}

#grid-size {
    max-width: 50px;
    text-align: center;
}

#submit-btn {
    width: 100px;
}